#_desktop_logo{
    width: 70%;
    vertical-align: middle;
}
#search_widget{
    float: right;

}
.search-widget form input[type=text] {
    border: 0!important;
    margin-top: 6px!important;
}

.search-widget form button[type=submit]{
    right:-10px!important;
}

.search-widget form {
    margin-left: -30px!important;
}
