#_desktop_logo{
    width: 100%;
}
#search_widget{
    float: right;

}
.search-widget form input[type=text] {
    border: 0!important;
    margin-top: 6px!important;
}

.search-widget form button[type=submit]{
    right:-10px!important;
}